---
import { Image } from "astro:assets";

const { href, title, date, description, image, imageAlt } = Astro.props as {
  href: string;
  title: string;
  date: Date;
  description?: string;
  image?: ImageMetadata;
  imageAlt?: string;
};

const dateStr = date.toLocaleDateString("pl-PL", {
  year: "numeric",
  month: "long",
});
---

<article class="blog-card">
  <a class="blog-card-image" href={href} aria-label={title}>
    {
      image ? (
        <Image
          class="blog-card-img"
          src={image}
          alt={imageAlt ?? title}
          loading="lazy"
        />
      ) : (
        <img
          class="blog-card-img"
          src="/assets/blog/placeholder.jpg"
          alt={imageAlt ?? title}
          loading="lazy"
        />
      )
    }
  </a>

  <div class="blog-card-body">
    <p class="blog-card-meta">{dateStr}</p>
    <p class="blog-card-title">
      <a href={href}>{title}</a>
    </p>
    {description && <p class="blog-card-desc">{description}</p>}
  </div>
</article>
